    <div>
      <app-header></app-header>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-3">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-9">
            <button type="button" class="btn btn-primary m-2">Back</button>
            <button type="button" class="btn btn-primary m-2 float-right">Booking</button>
            <app-home></app-home>
        </div>
    </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>