<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Function Name</th>
            <th scope="col">Function Date</th>
            <th scope="col">Pandit JI</th>
            <th scope="col">User</th>
            <th scope="col">User Address</th>
            <th scope="col">Booked By</th>
            <th scope="col">Booked At</th>
            <th scope="col">Update</th>
            <th scope="col">Cancle</th>

        </tr>
    </thead>
    <tbody ng-repeat="employee in result.listOfEntities">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td><button type="button" class="btn btn-warning">Update</button></td>
            <td><button type="button" class="btn btn-danger">Cancle</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td><button type="button" class="btn btn-warning">Update</button></td>
            <td><button type="button" class="btn btn-danger">Cancle</button></td>
        </tr>
    </tbody>
</table>